<!DOCTYPE HTML>
<html>
    <head>
        <title>blockchain</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;
                    $("span#pot").text(10000);

                    $("a#call_flipCoin").click(function() {
                      // 0 is heads, else is tails 
                      var bet = $("input#bet").val() == 0;
                      var betAmount = $("input#betAmount").val();
                      var nonce = $("input#nonce").val();
                      contractInstance.flipCoin(bet, nonce, {value: betAmount, gas:100000}, function(error, result) {
                        if(error) {
                          alert("Error flipCoin()");
                          reject(error);
                        }
                      });
                    });

                    $("a#call_cancel").click(function() {
                      contractInstance.cancel({gas:100000}, function(error, result) {
                        if(error) {
                          alert("Error cancel()");
                          reject(error);
                        }
                      });
                    });

                    $("a#call_takeBet").click(function() {
                      var bet_p2 = $("input#bet_p2").val() == 0;
                      var betAmount_p2 = $("input#betAmount_p2").val();
                      contractInstance.takeBet(bet_p2, {value: betAmount_p2, gas:100000}, function(error, result) {
                        if(error) {
                          alert("Error takeBet()");
                          reject(error);
                        }
                      });
                    });

                }

                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body class="subpage">
      <!-- Header -->
  			<header id="header">
  				<div class="inner">
  					<a href="index.html" class="logo">Coin Flip</a>
  					<nav id="nav">
  						<a href="index.html">Home</a>
  						<a href="#">Admin</a>
  						<a href="#">Customer</a>
  					</nav>
  					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  				</div>
  			</header>

        <section id="three" class="wrapper">
  				<div class="inner">
  					<header class="align-center">
  						<h2>Coin Flip</h2>
  					</header>
            <header>
              <h3>Pot</h3>
            </header>
            <p><span id="pot">0</span><p>
            <div class="flex flex-2">
              <article>
                <header>
                  <h3>Player 1</h3>
                </header>
  							<footer>
  								<a href="#" id="call_cancel" class="button special">Cancel</a>
  							</footer>
                <p>&nbsp;</p>
                <p>Bet (0 = true, 1 = false): <input type="text" id="bet" value="0" /></p>
                <p>Bet amount (in Wei, minimum bet: 10 Wei): <input type="text" id="betAmount" value="0" /></p>
                <p>Nonce (Random uint): <input type="text" id="nonce" value="0" /></p>
                <footer>
  								<a href="#" id="call_flipCoin" class="button special">
                    Flip Coin
                  </a>
  							</footer>
                <br />
                <header>
  								<h3>Player 2</h3>
  							</header>
  							<footer>
                   <p>Bet (0 = true, 1 = false): <input type="text" id="bet_p2" value="0" /></p>
                  <p>Bet amount (in Wei, minimum bet: 10 Wei): <input type="text" id="betAmount_p2" value="0" /></p>
  								<a href="#" id="call_takeBet" class="button special">
                    Take Bet
                  </a>
  							</footer>
  						</article>
            </div>
  				</div>
  			</section>


    </body>
</html>